footer {
    background-color: #373738;
    color: white;
    display:flex;
   text-align: center;
   position: fixed;
   left: 0;
    bottom: 0;
    width:100%;
   

}
    

ul{
    display: inline-block;
    vertical-align:top;
    list-style-type: none;
    padding:32px;


}
li{
    display:inline-block;
    padding-left: 118px;
    padding-right: 64px;
}